body{background-color:rgb(69, 85, 69);
  color:rgb(189, 204, 187);
  font-family:'Courier New';
    height:100%;}
  h1{padding-top: 40px;
    text-shadow:2px 1px 1px rgb(231, 236, 186);
  }
input{background-color:rgb(204, 174, 174);}
input[type=text], select {
    width: 30%;
    padding: 20px 25px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
   
  }
  
  button {
    width: 17%;
    background-color: rgb(12, 68, 59);
    color:rgb(240, 224, 224);
    padding: 28px 34px;
    margin: 7px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-shadow:2px 1px 1px rgb(53, 150, 81);
  }
  
  button:hover {
    background-color:rgb(5, 58, 32);
  }
  #form{text-align:center;
    margin: 170px;
      border:1px dotted rgb(7, 77, 43);
    }
      #form:hover{background-color:rgb(62, 78, 62); 
    box-shadow:2px 2px 2px rgb(2, 27, 12);}
    #demo{font-style:monospace;
    font-weight:bolder;
    }
    footer {
      text-align: center;
      padding-top: 20px;
      background-color: grey;
      font-family: 'Courier New';
      opacity: 0.65;}